:root {
  --dark-gray: #252424;
  --dark-black: rgb(25, 25, 25);
  --green: #25bb73;
  --dark-green: #1d9e5b;
  --blue: #20719a;
  --border-radius: 10px;
  --nav-height: 60px;
  --nav-vertical-padding: 0.5rem;
  --total-nav-height: calc(var(--nav-height) + 2 * var(--nav-vertical-padding));
  --max-width: 1800px;
  --content-max-width: 1200px;
  --section-header-height: 120px;
  --box-shadow: 2px 2px 4px #717070;

  font-family: Montserrat;
  color-scheme: light dark;
  color: var(--dark-gray);
  background: white;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: Max(100vw, 320px);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

section {
  width: inherit;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  user-select: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

input {
  font-size: 1.25rem;
  background: white;
}

input,
button {
  border: none;
  padding: 0 1rem;
  border-radius: calc(var(--border-radius) / 2);
}

button {
  cursor: pointer;
  background: var(--green);
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  height: var(--nav-height);
  padding: 0.5rem 1rem;
  background: whitesmoke;
}

.header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, var(--max-width));
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 1rem;

  & img {
    width: 70px;
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid var(--dark-gray);
  }
}

.header__nav {
  & ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    color: inherit;
    font-weight: 500;
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--green);
      color: white;
    }
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--blue) 30%, var(--green));
  padding-bottom: 1rem;
}

.cta__content-wrapper {
  display: flex;
  flex-direction: column;
  width: min(90%, var(--content-max-width));
  margin-bottom: 1rem;

  & p {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
  }

  & p:first-of-type {
    margin-bottom: 0.5rem;
  }

  & p:nth-child(2) {
    margin-top: 0.5rem;
  }

  & form {
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.5rem;
    background: #3a4a5f;
    border-radius: calc(var(--border-radius) / 2);

    & input {
      color: var(--dark-gray);
      width: 300px;
    }

    & input,
    button {
      height: 50px;
    }

    & button:hover {
      background-color: var(--dark-green);
    }
  }
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--section-header-height);
  width: inherit;
  background: whitesmoke;

  & h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #717070;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(90%, var(--max-width));
  padding: 2rem;
}

.footer {
  display: grid;
  place-content: center;
  min-height: var(--nav-height);
  width: inherit;
  text-align: center;
  font-size: 1.25rem;
  background-color: whitesmoke;
}

/* Tablets & small laptops */
@media only screen and (max-width: 1199px) {
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .header {
    height: fit-content;
  }

  .header__content-wrapper,
  .header__brand {
    flex-direction: column;
  }

  .cta__content-wrapper {
    & form {
      flex-direction: column;
      width: auto;

      & input {
        width: inherit;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background: var(--dark-gray);
  }

  .header,
  .section-header {
    background: var(--dark-black);
  }

  .header__brand {
    & img {
      border: 1px solid whitesmoke;
    }
  }

  .cta__copywrite-and-form {
    & input {
      background: white;
    }
  }

  .contact__form {
    & input,
    textarea {
      border: 1px solid whitesmoke;
      background: var(--dark-gray);
      &::placeholder {
        opacity: 1;
      }
    }
  }

  .back-to-top {
    color: white;
    background: var(--dark-black);
    border: 0.5px solid whitesmoke;
  }

  .footer {
    background: var(--dark-black);
  }
}
