:root {
  --dark-gray: #252424;
  --dark-black: rgb(25, 25, 25);
  --green: #25bb73;
  --dark-green: #1d9e5b;
  --blue: #20719a;
  --border-radius: 10px;
  --header-height: 60px;
  --header-vertical-padding: 0.5rem;
  --total-header-height: calc(
    var(--header-height) + 2 * var(--header-vertical-padding)
  );
  --header-stacked-height: 100px;
  --max-width: 1800px;
  --content-max-width: 1200px;
  --section-header-height: 120px;
  --box-shadow: 2px 2px 4px #717070;

  font-family: Montserrat;
  color-scheme: light dark;
  color: var(--dark-gray);
  background: white;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* || GENERAL STYLES */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: Max(100vw, 320px);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: var(--total-header-height);
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  user-select: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

input,
textarea {
  font-size: 1.25rem;
  background: white;
}

input,
button,
textarea {
  border: none;
  padding: 0 0.5rem;
  border-radius: calc(var(--border-radius) / 2);
}

button {
  cursor: pointer;
  background: var(--green);
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

/* || HEADER */
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  height: var(--header-height);
  width: inherit;
  padding: var(--header-vertical-padding) 0rem;
  background: whitesmoke;
  box-shadow: 0px -1px 10px var(--dark-gray);
}

.header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, var(--max-width));
  padding: 0 1rem;
}

.header__nav {
  & ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    color: inherit;
    font-weight: 500;
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--green);
      color: white;
    }
  }
}

/* || CTA */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--blue) 30%, var(--green));
  padding: 1rem 0;
}

.cta__content-wrapper {
  display: flex;
  flex-direction: column;
  width: min(90%, var(--content-max-width));
  margin-bottom: 1rem;

  & p {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
  }

  & p:first-of-type {
    margin-bottom: 0.5rem;
  }

  & p:nth-child(2) {
    margin-top: 0.5rem;
  }

  & form {
    display: flex;
    gap: 0.25rem;
    width: fit-content;
    padding: 0.25rem;
    background: #3a4a5f;
    border-radius: calc(var(--border-radius) / 2);

    & input {
      color: var(--dark-gray);
      width: 300px;
    }

    & input,
    button {
      height: 50px;
    }

    & button {
      min-width: 200px;
    }

    & button:hover {
      background-color: var(--dark-green);
    }
  }
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--section-header-height);
  width: inherit;
  background: whitesmoke;

  & h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #717070;
  }
}

/* || POSTS */
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(100%, var(--max-width));
  padding: 2rem;
}

/* || ABOUT */
.about__content {
  padding: 2rem 0;
  width: Min(100%, var(--content-max-width));

  & p {
    padding: 0 1rem;
  }
}

.about__bio {
  display: flex;
  gap: 2rem;
  width: min(95%, var(--content-max-width));
  padding: 2rem;

  & p:first-of-type {
    margin-top: 0;
  }

  & img {
    width: 400px;
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid var(--dark-gray);
  }
}

.about__table-wrapper {
  display: grid;
  place-items: center;
}

.about__table-caption {
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: white;
  background: var(--dark-gray);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.about__table {
  margin: 2rem 1rem;
  background: whitesmoke;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid var(--dark-gray);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;

  & th {
    white-space: nowrap;
  }

  & th:last-child {
    border-top-right-radius: var(--border-radius);
  }

  & tbody tr:nth-child(odd) {
    background-color: white;
  }

  & tbody tr td:last-child,
  th:last-child {
    text-align: center;
  }

  & tr:last-child {
    & td:first-child {
      border-bottom-left-radius: var(--border-radius);
    }

    & td:last-child {
      border-bottom-right-radius: var(--border-radius);
    }
  }

  & th {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
  }

  & td {
    font-size: 1.25rem;
    padding: 1rem;
  }

  & .check-mark {
    font-size: 2rem;
    padding: 0;
    color: var(--green);
  }
}

/* || CONTACT */
.contact {
  width: inherit;
  display: grid;
  place-items: center;
}

.contact__content {
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
  max-width: var(--content-max-width);

  & p {
    text-align: justify;
  }
}

.contact__form {
  display: grid;
  place-items: center;
  row-gap: 1rem;
  padding: 2rem 0;
  width: Min(100%, 700px);

  & input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: 2px solid lightgray;
  }

  & textarea {
    min-height: 200px;
    padding: 1rem;
    font-family: Montserrat;
  }

  & button {
    height: 60px;
    width: 100%;
    align-self: center;

    &:hover {
      background: var(--dark-green);
    }
  }
}

.back-to-top {
  all: unset;
  background: whitesmoke;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: calc(var(--border-radius) / 2);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: white;
    background: var(--green);
  }
}

.footer {
  display: grid;
  place-content: center;
  min-height: var(--header-height);
  width: inherit;
  text-align: center;
  font-size: 1.25rem;
  background-color: whitesmoke;
}

/* || MEDIA QUERIES */
@media only screen and (max-width: 1199px) {
  .about__bio {
    flex-direction: column-reverse;
    align-items: center;
    text-align: justify;
  }

  .about__table-wrapper {
    width: 95%;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 599px) {
  main {
    margin-top: calc(var(--header-stacked-height) + 1rem);
  }

  .header {
    height: var(--header-stacked-height);
    padding: 0;
    padding-top: 1rem;
  }

  .header__content-wrapper {
    flex-direction: column;
  }

  .header__brand {
    gap: 0.5rem;
  }

  .header__nav {
    padding: 0;

    & a {
      padding: 0.5rem;
    }
  }

  .cta__content-wrapper {
    & form {
      flex-direction: column;
      width: auto;

      & input {
        width: inherit;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background: var(--dark-gray);
  }

  .header,
  .section-header {
    background: var(--dark-black);
  }

  .header__brand {
    & img {
      border: 1px solid whitesmoke;
    }
  }

  .cta__copywrite-and-form {
    & input {
      background: white;
    }
  }

  .about__table-caption {
    background: white;
    color: var(--dark-gray);
  }

  .about__table {
    border: 2px solid whitesmoke;
    box-shadow: none;

    & thead {
      background-color: var(--dark-black);
    }

    & tbody tr:nth-child(even) {
      background-color: var(--dark-black);
    }

    & tbody tr:nth-child(odd) {
      background-color: var(--dark-gray);
    }
  }

  .contact__form {
    & input,
    textarea {
      border: 1px solid whitesmoke;
      background: var(--dark-gray);
      &::placeholder {
        opacity: 1;
      }
    }
  }

  .back-to-top {
    color: white;
    background: var(--dark-black);
    border: 0.5px solid whitesmoke;
  }

  .footer {
    background: var(--dark-black);
  }
}
