@import url("./index.css");

.header--posts,
.main--posts {
  width: min(100%, var(--max-width));
}

.header--posts__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.main--posts {
  margin-top: 0;
}

.post {
  width: min(95%, var(--content-max-width));

  & img {
    width: min(95%, 600px);
    border-radius: calc(var(--border-radius) / 2);
  }

  & h2 {
    text-align: center;
  }

  & li {
    font-size: 1.5rem;
  }

  & h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }
}

.signoff {
  align-self: start;
  font-size: 1.25rem;
  padding: 1rem 0;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: inherit;
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    width: min(90%, 500px);
    border: 2px solid lightgray;
    border-radius: calc(var(--border-radius) / 2);

    & a {
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
      color: unset;
    }

    & img {
      border-top-left-radius: calc(var(--border-radius) / 3);
      border-top-right-radius: calc(var(--border-radius) / 3);
    }

    & .post-item-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      padding: 1rem;
    }

    & h3 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    & p {
      margin: 0;
      font-size: 1rem;
    }

    & hr {
      margin: 1rem 0;
    }

    &:hover {
      transform: scale(1.01);
    }
  }
}
